AP_WORKLOAD_NAMESPACE=ap-python
AP_SHARED_LB_IP=192.168.49.10
AP_SHARED_LB_ANNOTATIONS_JSON={"metallb.io/allow-shared-ip":"ap-python-launcher"}
AP_SHARED_LB_PORT_RANGE_START=31000
AP_SHARED_LB_PORT_RANGE_END=31999
AP_HARBOR_BASE_URL=https://harbor.example.com
AP_HARBOR_PROJECT=ap-python
AP_MOCK_HARBOR=false
AP_MOCK_KUBE=false
# AP_HARBOR_USERNAME=
# AP_HARBOR_PASSWORD=
# Optional if you prefer content over path-based kubeconfig loading:
# AP_KUBECONFIG=
